<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979267957703-b0l1poohi0o6a9lhsq0tijofenb26q4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979267957703-b0l1poohi0o6a9lhsq0tijofenb26q4j</string>
	<key>API_KEY</key>
	<string>AIzaSyBbCk47eEJkyvL5UjaN9NITnnqGMHnhvnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>979267957703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Com.Niraj.Spark</string>
	<key>PROJECT_ID</key>
	<string>personalitytest-440d2</string>
	<key>STORAGE_BUCKET</key>
	<string>personalitytest-440d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979267957703:ios:29468c51290dd5c63c9fe2</string>
</dict>
</plist>